

body {
    font-family: 'Roboto', sans-serif;
    background-color: purple;
    color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .App {
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    background: purple;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 2px solid #bb86fc;
  }
  
  h1 {
    text-align: center;
    color: #bb86fc;
    margin-bottom: 30px;
    font-size: 3em;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  textarea,
  select {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: purple;
    color: #f0f2f5;
  }
  
  input::placeholder, textarea::placeholder {
    color: #bbb;
  }
  
  button {
    padding: 15px;
    background-color: #03dac6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #018786;
    transform: scale(1.05);
  }
  
  .task-list {
    width: 50%;
  }
  
  .task-item {
    background: purple;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid purple;
    border-radius: 10px;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-item:hover {
    transform: translateY(-5px);
  }
  
  .task-item h3 {
    margin: 0;
    color: #bb86fc;
    font-size: 1.8em;
  }
  
  .task-item p {
    margin: 5px 0;
    color: #bbb;
    font-size: 1.2em;
  }
  
  .task-item button {
    background-color: #cf6679;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .task-item button:hover {
    background-color: #b00020;
    transform: scale(1.05);
  }
  